
/* Rimuove spazio tra i bottoni */
.button-bar > .container > .button {
    -fx-padding: 0;
    -fx-margin: 0;
}

#columnSelector .button {
    -fx-shape: "M 0 0 L 20 0 L 10 20 Z"; /* Definisce una forma triangolare con la punta rivolta verso il basso */
    -fx-background-color: #333333; /* Colore di sfondo scuro del triangolo */
    -fx-background-radius: 0; /* Rimuove il bordo arrotondato */
    -fx-padding: 0 0; /* Riduce lo spazio intorno al triangolo */
    -fx-border-color: #ffffff; /* Colore del bordo */
    -fx-border-width: 2px; /* Spessore del bordo */
    -fx-text-fill: #ffffff; /* Colore del testo all'interno del triangolo */
}


#columnSelector .button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.8), 20, 0, 0, 0);
}


/* Mostro l'ombra solo quando la "TILE" è selezionata */
.selected-image:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.8), 20, 0, 0, 0);
}

/* Rimuove l'ombra predefinita */
.image-view {
    -fx-effect: none;
}

/* Da effetto clickabile a tutto ciò su cui passa il mouse */
*:hover {
    -fx-cursor: hand;
}

/* Define styles for the mainGrid */
#mainGrid {
    -fx-alignment: center;
    -fx-padding: 0;
}

/* Define styles for the boardGridPane */
#boardGridPane {
    -fx-alignment: center;
}

/* Define styles for the infoGridPane */
#infoGridPane {
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/* Define styles for the buttons in the ButtonBar */
.button-bar .button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 3, 3, 0);
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #000000, #56f2b6, #6effe5);
}

/* Define styles for the title text */
.title-text {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 3, 3, 0);
}


