
/* Rimuove spazio tra i bottoni */
.button-bar > .container > .button {
    -fx-padding: 0;
    -fx-margin: 0;
}

#columnSelector .button {
    -fx-shape: "M 0 0 L 20 0 L 10 20 Z"; /* Definisce una forma triangolare con la punta rivolta verso il basso */
    -fx-background-color: #333333; /* Colore di sfondo scuro del triangolo */
    -fx-background-radius: 0; /* Rimuove il bordo arrotondato */
    -fx-padding: 0 0; /* Riduce lo spazio intorno al triangolo */
    -fx-border-color: #ffffff; /* Colore del bordo */
    -fx-border-width: 2px; /* Spessore del bordo */
    -fx-text-fill: #ffffff; /* Colore del testo all'interno del triangolo */
}


#columnSelector .button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.8), 20, 0, 0, 0);
}


/* Mostro l'ombra solo quando la "TILE" è selezionata */
.selected-image:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.8), 20, 0, 0, 0);
}


/* CAPIRE PERCHE' NON VANNO I BORDI */
.selected-tile {
    -fx-border-color: red;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 20, 0, 0, 0);
    z-index: 1;
}


/* Rimuove l'ombra predefinita */
.image-view {
    -fx-effect: none;
}

/* Da effetto clickabile a tutto ciò su cui passa il mouse */
*:hover {
    -fx-cursor: hand;
}

/* Define styles for the mainGrid */
#mainGrid {
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 2);
}

/* Define styles for the boardGridPane */
#boardGridPane {
    -fx-alignment: center;
}

/* Define styles for the infoGridPane */
#infoGridPane {
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/* Define styles for the buttons in the ButtonBar */
.button-bar .button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 3, 3, 0);
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #000000, #56f2b6, #6effe5);
}

/* Define styles for the title text */
.title-text {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 3, 3, 0);
}

#confirmSelection {
    -fx-background-color: transparent; /* Rimuove lo sfondo predefinito */
    -fx-border-color: green; /* Colore del bordo verde */
    -fx-border-width: 2px; /* Larghezza del bordo */
    -fx-border-radius: 50%; /* Bordi arrotondati per ottenere una forma circolare */
    -fx-effect: dropshadow(gaussian, rgba(26, 255, 0, 0.8), 2, 0.1, 0.1, 0.1);
}



#chatTextArea {
    -fx-control-inner-background: #222;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
}

#chatTextArea .paragraph {
    -fx-text-indent: 20px;
}


#chatTextArea .scroll-bar {
    -fx-background-color: #333;
}

#chatTextArea .thumb {
    -fx-background-color: #666;
}

#chatTextArea .track {
    -fx-background-color: #444;
}

#chatTextArea1 {
    -fx-control-inner-background: #222;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
}

#chatTextArea1 .paragraph {
    -fx-text-indent: 20px;
}


#chatTextArea1 .scroll-bar {
    -fx-background-color: #333;
}

#chatTextArea1 .thumb {
    -fx-background-color: #666;
}

#chatTextArea1 .track {
    -fx-background-color: #444;
}

#chatTextArea2 {
    -fx-control-inner-background: #222;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
}

#chatTextArea2 .paragraph {
    -fx-text-indent: 20px;
}


#chatTextArea2 .scroll-bar {
    -fx-background-color: #333;
}

#chatTextArea2 .thumb {
    -fx-background-color: #666;
}

#chatTextArea2 .track {
    -fx-background-color: #444;
}

.text-area {
    -fx-control-inner-background: #222;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
}

.text-area .paragraph {
    -fx-text-indent: 20px;
}


.text-area .scroll-bar {
    -fx-background-color: #333;
}

.text-area .thumb {
    -fx-background-color: #666;
}

.text-area .track {
    -fx-background-color: #444;
}

#tabPane {
    -fx-background-color: #333333;
}

#tabPane  .tab-header-background {
    -fx-background-color: #222222;
}

#tabPane .tab {
    -fx-background-color: #333333;
    -fx-background-radius: 10px 10px 0 0;
    -fx-padding: 4px 6px;
}

#tabPane .tab:selected {
    -fx-background-color: #555555;
}

#tabPane .tab:selected .tab-label {
    -fx-text-fill: #FFFFFF;
}

#tabPane .tab .tab-label {
    -fx-text-fill: #CCCCCC;
}

#sendMessageButton {
    -fx-background-radius: 10px;
    -fx-background-color: #333;
}


#chatTextField {
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
    -fx-border-color: #333;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#chatTextField:focused {
    -fx-border-color: #fff;
}

#firstTile {
    -fx-background-color: transparent;
}

#secondTile {
    -fx-background-color: transparent;
}

#thirdTile {
    -fx-background-color: transparent;
}

#resetButton {
    -fx-background-color: red;
    -fx-padding: 5px;
}

#resetButton .cross {
    -fx-shape: "M0 0 L1 1 M1 0 L0 1";
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

#resetButton:hover {
    -fx-background-color: darkred;
}

